body{
	background-color: #eeeeee;
	height:100%;
	display: block;
	font-family: Verdana;
	font-size: 11pt;
}
div.book, div.page, div.multi_question, div.twb_shortanswers{
background-color: #FFFFFF;
	border: thin solid #cccccc;
	margin: 20px;
	padding: 10px;
	padding-left:40px;
	padding-right:40px;
}

div.title{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	color: #000099;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #eeeeee;
	border-right-color: #eeeeee;
	border-bottom-color: #eeeeee;
	border-left-color: #eeeeee;
	width: 100%;
	margin-bottom: 20px;
}
div.level1 div.title{
	font-size: 26pt;
}
div.level2 div.title{
font-size: 24pt;
}
div.level3 div.title{
font-size: 22pt;
}
div.level4 div.title{
font-size: 20pt;
}
div.level5 div.title{
font-size: 18pt;
}