body{
	height:100%;
	display: block;
}
div.book, div.page, div.multi_question, div.twb_shortanswers{
	padding: 10px;
	padding-left:20px;
	padding-right:20px;
}

div.title{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #000000;
	margin-bottom: 20px;
}
div.level1 div.title{
	font-size: 26pt;
}
div.level2 div.title{
font-size: 24pt;
}
div.level3 div.title{
font-size: 22pt;
}
div.level4 div.title{
font-size: 20pt;
}
div.level5 div.title{
font-size: 18pt;
}